<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <include resource="org/springframework/boot/logging/logback/base.xml"/>
  <!-- Required for Loglevel managment into the Spring Petclinic Admin Server-->
  <jmxConfigurator/>
  
  <!-- Console appender with trace context -->
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>trace_id=%mdc{trace_id} span_id=%mdc{span_id} trace_flags=%mdc{trace_flags} %5p - %m%n</pattern> 
    </encoder>
  </appender>
  
  <!-- File appender with trace context -->
  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>/var/log/vets/app.log</file>
    <append>true</append>
    <encoder>
      <pattern>trace_id=%mdc{trace_id} span_id=%mdc{span_id} trace_flags=%mdc{trace_flags} %5p - %m%n</pattern> 
    </encoder>
  </appender>
  
  <!-- Wrap both appenders with OpenTelemetryAppender -->
  <appender name="OTEL" class="io.opentelemetry.instrumentation.logback.mdc.v1_0.OpenTelemetryAppender">
    <!--TODO: addbaggage?-->
    <!--<addBaggage>true</addBaggage>-->
    <appender-ref ref="CONSOLE"/>
    <appender-ref ref="FILE"/>
  </appender>
  
  <root level="INFO">
    <appender-ref ref="OTEL"/>
  </root>
</configuration>